	<p class="footer">CodeIgniter demo page by István Bordi - <a href="https://github.com/bordee/ci-demo" target="_blank"><img class="git-logo" src="https://assets-cdn.github.com/favicon.ico"></a></p>
</div>

</body>
</html>