{{> default_header }}
        <div class="back-button">
            <a href="/demo/show">Back to table...</a>
        </div>
        <div id="body">
            <table class="table-dump">
                <tr>
                    <th>ID</th>
                    <th>First name:</th>
                    <th>Last name:</th>
                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                </tr>
            </table>
	</div>
{{> default_footer }}